html {
    height: 100%;
}

body {
    font-family: "Courier New", "Courier", monospace;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #eee;
    background-color: #111;
}

.container {
    height: 100%;
    position: relative;
}

.content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
